{% set is_supplier=true %}
{% set neglect_items=false %}
{% if filters.party_type == "Supplier" %}
{% set is_supplier = true %}
{% else %}
{% set is_supplier = false %}
{% endif %}
{% if layout_direction == "rtl" %}
{% set is_rtl = true %}
{% else %}
{% set is_rtl = false %}
{% endif %}
{% if filters.neglect_items %}
{% set neglect_items = true %}
{% else %}
{% set neglect_items = false %}
{% endif %}
<html dir="{{ layout_direction }}" lang="{{ lang }}">
<style>
    table, th, td{
      width: 100%;
      border: 1px solid black;
      border-collapse: collapse;
      text-align: center;
      margin-bottom: 20px;
      margin-top: 20px;
      font-size: {{ font_size }}px;
      table-layout:fixed;
    }
    img{
        width: 100%;
    }
    .header-details{
      margin-bottom: 0px;
      margin-top: 0x;
    }
    .header-details td{
      margin: auto;
      font-size: 14px;
    }
</style>
<body>
{% if letter_head %}
{{ letter_head.content }}
<hr>
{% endif %}
<table class="header-details" style="border:none;">
    <tbody>
    <tr style="border:none;">
        <td style="border:none; width:50%; {% if is_rtl %} text-align:right {% else %} text-align:left {% endif %}">
            <h4>
                {{ _("Statement Form") }} - {{ _("Items") }}
                <br>
                {% if is_supplier %}
                {{ _("Supplier Name") }}
                {% else %}
                {{ _("Customer Name") }}
                {% endif %} : {{header.party }}
            </h4>
        </td>
        <td
                style="border:none; width:50%; {% if is_rtl %} text-align:left {% else %} text-align:right {% endif %}">
            <h4>
                {{ _("Printed Date") }} :{{ frappe.utils.getdate(frappe.utils.nowdate()) }}
                <br>
                {{ _("Printed Time") }} :{{ frappe.utils.get_time_str(frappe.utils.now()) }}
            </h4>
        </td>
    </tr>
    </tbody>
</table>
<hr>
<div style="text-align:center;">
    {{ _("From Date") }}: {{ filters.from_date }} &nbsp;
    {{ _("To Date") }}: {{ filters.to_date }}
</div>
<hr>
{% if summary %}
<!--Summary Table-->
<div>
    <h5> {{ _("Summary") }} </h5>
</div>
<table class="table summary-table" id="summary">
    <thead>
    <tr>
        <th style="width: 25%"> {{ _("Statement") }}</th>
        <th style="width: 25%"> {{ _("Debit") }}</th>
        <th style="width: 25%"> {{ _("Credit") }}</th>
        <th style="width: 25%"> {{ _("Balance") }}</th>
    </tr>
    </thead>
    <tbody>
    {% for sum in summary %}
    <tr>
        <td> {{ sum.statement }}</td>
        <td> {% if sum.debit %} {{ sum.debit }} {% endif %}</td>
        <td> {% if sum.credit %} {{ sum.credit }} {% endif %}</td>
        <td> {% if sum.balance %} {{ sum.balance }} {% endif %}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<hr>
{% endif %}

{% if items %}
<!--Items Details Table-->
<div>
    <h5> {{ _("Items Details") }} </h5>
</div>
<table class="table" id="items">
    <thead>
    <tr>
        <th style="width: 10%"> {{ _("Date") }}</th>
        <th style="width: 15%"> {{ _("Invoice No") }}</th>
        {% if not filters.neglect_items %}
        <th style="width: 15%"> {{ _("Item") }}</th>
        <th style="width: 8%"> {{ _("Quantity") }}</th>
        <th style="width:8%"> {{ _("Price") }}</th>
        {% endif %}
        <th style="width: 8%"> {{ _("Total") }}</th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
    <tr>
        <td> {{ item.date }}</td>
        <td> {% if item.invoice_id %} {{ item.invoice_id }} {% endif %}</td>
        {% if not filters.neglect_items %}
        <td> {% if item.item_name %} {{ item.item_name }} {% endif %}</td>
        <td> {% if item.qty %} {{ item.qty }} {% endif %}</td>
        <td> {% if item.price %} {{ item.price }} {% endif %}</td>
        {% endif %}
        <td> {% if item.total %} {{ item.total }} {% endif %}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<hr>
{% endif %}

<!--Payments Table-->
{% if payments %}
<div>
    <h5> {{ _("Payments Details") }} </h5>
</div>
<table class="table" id="payments">
    <thead>
    <tr>
        <th style="width: 10%"> {{ _("Date") }}</th>
        <th style="width: 18%"> {{ _("Payment No") }}</th>
        <th style="width: 6%"> {{ _("Mode of Payment") }}</th>
        <th style="width: 6%"> {{ _("Payment Type") }}</th>
        <th style="width: 20%"> {{ _("Remarks") }}</th>
        <th style="width: 10%"> {{ _("Paid Amount") }}</th>
    </tr>
    </thead>
    <tbody>
    {% for payment in payments %}
    <tr>
        <td> {{ payment.date }}</td>
        <td> {% if payment.payment_id %} {{ payment.payment_id }} {% endif %}</td>
        <td> {% if payment.mop %} {{ _(payment.mop) }} {% endif %}</td>
        <td> {% if payment.payment_type %} {{ _(payment.payment_type) }} {% endif %}</td>
        <td> {% if payment.remarks %} {{ payment.remarks }} {% endif %}</td>
        <td> {{ payment.paid_amount }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

</body>
</html>