{% set is_supplier=true %}
{% if filters.party_type == "Supplier" %}
{% set is_supplier = true %}
{% else %}
{% set is_supplier = false %}
{% endif %}
{% set number_format = frappe.db.get_single_value("System Settings", "number_format") or "#,###.##" %}
<meta name="pdfkit-margin-top" content="30mm">
<meta name="pdfkit-margin-bottom" content="10mm">
<html dir="{{ layout_direction }}" lang="{{ lang }}">
<style>
    body {
        width: 100%;
        margin: auto;
    }
    table, th, td{
      border: 1px solid black;
      border-collapse: collapse;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .summary-table {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        font-size: {{ font_size }}px;
    }
    img {
        width: 100%;
    }
    .date-section {
        text-align:center;
        padding-right: 10%;
        padding-left: 10%
    }
</style>
<body>

<!--Company Details-->
{% if letter_head %}
<div id="header-html" class="hidden-pdf">

{{ letter_head.content }}
</div>
<hr>
{% else %}
{% if company_defaults %}
<table class="header-details" style="border:none;">
    <tbody>
    <tr style="border:none;">
        <td style="border:none; width:40%; text-align:center">
            {{ filters.company }} <br>
            {% if company_defaults.address %} {{ frappe.utils.strip_html(company_defaults.address) }} {% endif %}<br>
            {% if company_defaults.phone_no %} {{ company_defaults.phone_no }}{% endif %}
        </td>
        <td style="border:none; width:35%;">
            {% if company_defaults.image %}
            <img src="{{ company_defaults.image }}" style="width:60px; height:60px"/>
            {% endif %}
        </td>
        <td style="border:none; width:25%; text-align: center">
            {{ _("Printed Date") }} :{{ frappe.utils.getdate(frappe.utils.nowdate()) }} <br>
            {{ _("Printed Time") }} :{{ frappe.utils.get_time_str(frappe.utils.now()) }}
        </td>
    </tr>
    </tbody>
</table>
{% endif %}
{% endif %}
<hr>

<div class="row date-section">
    <span style="margin-left: 60px; margin-right: 60px;">{{ _("From Date") }}: {{ filters.from_date }}</span>
    <span>{{ _("To Date") }}: {{ filters.to_date }}</span>
</div>

{% if data %}
<!--Summary Table-->
{% for party in data %}
{% set party_data = data[party] %}
<table class="table summary-table" id="summary">
    <thead>
    <tr>
        <th colspan="7">
            <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                {% if is_supplier %} 
                <div style="flex: 1; text-align: center;">
                    {{ _("اسم المورد") }} : {{frappe.db.get_value("Supplier", party, "supplier_name") }}
                </div>
                {% if frappe.db.get_single_value("Agriculture Settings", "show_supplier_code_in_pdf") %}
                <div style="flex: 1; text-align: center;">
                        <div style="direction:rtl">{{ _("كود المورد") }} : {{party }}</div> 
                </div>
                {% endif %}
                {% else %}
                <div style="flex: 1; text-align: center;">
                    {{ _("Customer Name") }} : {{frappe.db.get_value("Customer", party, "customer_name") }}
                </div>
                {% if frappe.db.get_single_value("Agriculture Settings", "show_customer_code_in_pdf") %}
                <div style="flex: 1; text-align: center;">
                        <div style="direction:rtl">{{ _("كود العميل") }} : {{party }}</div> 
                </div>
                {% endif %}
                {% endif %}
            </div>
        </th>
        
    </tr>
    <tr>
        <th style="width: 25%"> {{ _("Reference") }}</th>
        <th style="width: 13%"> {{ _("Date") }}</th>
        <th style="width: 8%"> {{ _("Debit") }}</th>
        <th style="width: 8%"> {{ _("Credit") }}</th>
        <th style="width: 8%"> {{ _("Price") }}</th>
        <th style="width: 8%"> {{ _("Quantity") }}</th>
        <th style="width: 20%"> {{ _("Statement") }}</th>
    </tr>
    </thead>
    <tbody>
    {% if party_data %}
    {% for item in party_data %}
    <tr>
        <td> {{ item.reference_id }} {% if item.reference_number %} <br>  {{ item.reference_number }} {% endif %}</td>
        <td> {% if item.date %} {{ item.date }} {% endif %}</td>
        <td style="direction: ltr;"> {% if item.debit %} {{ frappe.format_value(item.debit, {"fieldtype": "Currency"}) }} {% endif %}</td>
        <td style="direction: ltr;"> {% if item.credit %} {{ frappe.format_value(item.credit, {"fieldtype": "Currency"}) }} {% endif %}</td>
        {% if item.doctype == "Invoice Form" %}
        <td style="direction: ltr;"> {{ frappe.format_value(item.price, {"fieldtype": "Currency"}) }}</td>
        <td> {{ item.qty }}</td>
        <td> {{ item.statement }}</td>
        {% else %}
        <td colspan="3" style="direction: ltr;"> 
            {% if item.reference_id != "Total" %}
            {{ item.statement }} 
            {% else %}
            {{ frappe.format_value(item.statement, {"fieldtype": "Currency"}) }}
            {% endif %}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    {% endif %}
    </tbody>
</table>
<hr>
{% endfor %}
{% endif %}
<div id="footer-html" class="visible-pdf">
    <div class="letter-head-footer">
        <div class="row">
            <div class="col-xs-4" style="text-align: left;font-size: 12px;">وقت الطباعة : {{frappe.utils.format_datetime(frappe.utils.now(), "dd-mm-yyyy HH:mm:ss")}}</div>
            <div class="col-xs-4" style="text-align: center;direction:rtl;font-size: 12px;">
                صفحة  <span class="page footer"></span> من  <span class="topage footer"></span> 
            </div>
            <div class="col-xs-4" style="text-align: right;font-size: 12px;"> {% if frappe.db.get_single_value("Agriculture Settings", "report_note") %}<u>{{frappe.db.get_single_value("Agriculture Settings", "report_note")}}</u>  {% endif %}  </div>
        </div>
    </div>
</div>
</body>
</html>